.header-container {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   background-color: brown;
}

.tittle-container {
  margin-left: 70px;
  display: flex;
  //   background-color: brown;
}

.tittle {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  //   background-color: aqua;
}

.logo-pizza {
  width: 40px;
  margin-right: 20px;
}

.basket-container {
  margin-right: 50px;
  //   background-color: blue;
}

.basket-button {
  background-color: rgb(235, 106, 54);
  border: none;
  color: white;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

hr {
  width: 100%;
}
